.media
  .media-left
    = link_to user_path(@prototype.user.id) do
      = image_tag(@prototype.user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;")
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.username
      %a.anchorjs-link{href: "#top-aligned-media"}
        %span.anchorjs-icon
    %p
      = comment.text
